@use "../helper/var" as *;

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 9em;
    margin-top: 7em;
    img {
        width: 45.6875em;
    }
    .abt-title {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: flex-start;
        background-color: #fff;
        width: 50%;
        height: 70%;
        padding: 6.2em;
        right: 0;
        bottom: 0;
        gap: 1.5em;
        h2 {
            @extend %title;
            font-weight: 300;
            font-size: 2.5em;
        }
        p {
            color: $dark-gray;
            line-height: 1.5em;
        }
    }
    .title-relative{
        position: relative;
    }
}