@media (max-width: 1024px) {
  header {
    height: 4em;
    padding-right: 2em;
    padding-left: 2em;
  }
  header nav {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    padding-left: 3em;
    left: -200%;
    top: 0;
    transition: 1.5s ease;
    -webkit-transition: 1.5s ease;
    -moz-transition: 1.5s ease;
    -ms-transition: 1.5s ease;
    -o-transition: 1.5s ease;
  }
  header nav a {
    font-size: 40px;
  }
  header .open-nav {
    display: flex;
    left: 0;
  }
  header .burger {
    display: flex;
    font-size: 2em;
  }
  header .burger .close {
    display: none;
  }
  header .burger #close {
    position: fixed;
    color: #fff;
    right: 1em;
    top: 0.5em;
  }
  .welcome img {
    content: url("./mobile/image-hero.jpg");
  }
  .welcome .wlc-title {
    width: 90%;
    left: 5%;
  }
  .welcome .wlc-title h2 {
    font-size: 3.8em;
  }
  .about {
    width: 100%;
    padding: 1em;
  }
  .about img {
    width: 100%;
  }
  .about .abt-title {
    position: relative;
    padding: 0;
    margin-top: 4em;
    text-align: center;
    width: 100%;
    align-items: center;
  }
  .about .abt-title h2 {
    font-weight: 400;
  }
  .about .abt-title p {
    font-size: 1.5em;
  }
  .gallery {
    margin-top: 6em;
  }
  .gallery .glr-title {
    padding-left: 2em;
    padding-right: 2em;
    flex-direction: column;
    height: 5em;
  }
  .gallery .glr-title h2 {
    font-size: 2em;
    font-weight: 300;
  }
  .gallery .glr-title button {
    padding: 0.6em;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
  footer {
    flex-direction: column;
    align-items: center;
    height: unset;
    padding: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    gap: 2em;
  }
  footer .links {
    align-items: center;
    gap: 1em;
  }
  footer .links .link {
    flex-direction: column;
    font-size: 1.1em;
  }
  footer .social {
    align-items: center;
    gap: 1em;
  }
}
@media (max-width: 304.98px) {
  body {
    font-size: 7px;
  }
}
@media (min-width: 305px) and (max-width: 340.98px) {
  body {
    font-size: 9px;
  }
}
@media (min-width: 341px) and (max-width: 376.98px) {
  body {
    font-size: 10px;
  }
}
@media (min-width: 377px) and (max-width: 436.98px) {
  body {
    font-size: 11px;
  }
}
@media (min-width: 437px) and (max-width: 496.98px) {
  body {
    font-size: 13px;
  }
}
@media (min-width: 497px) and (max-width: 536.98px) {
  body {
    font-size: 15px;
  }
}
@media (min-width: 537px) and (max-width: 575.98px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 576px) and (max-width: 675.98px) {
  body {
    font-size: 18px;
  }
}
@media (min-width: 676px) and (max-width: 750.89px) {
  body {
    font-size: 20px;
  }
}
@media (min-width: 751px) and (max-width: 855.89px) {
  body {
    font-size: 22.5px;
  }
}
@media (min-width: 856px) and (max-width: 991.98px) {
  body {
    font-size: 26px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  body {
    font-size: 30px;
  }
}
@media (min-width: 1024.1px) and (max-width: 1139.98px) {
  body {
    font-size: 13px;
  }
}
@media (min-width: 1140px) and (max-width: 1197.98px) {
  body {
    font-size: 14px;
  }
}
@media (min-width: 1198px) and (max-width: 1294.98px) {
  body {
    font-size: 15px;
  }
}
@media (min-width: 1440px) and (max-width: 1539.98px) {
  body {
    font-size: 17px;
  }
}
@media (min-width: 1540px) and (max-width: 1699.98px) {
  body {
    font-size: 19px;
  }
}
@media (min-width: 1700px) and (max-width: 1923.98px) {
  body {
    font-size: 21px;
  }
}
@media (min-width: 1924px) and (max-width: 2023.98px) {
  body {
    font-size: 23px;
  }
}
@media (min-width: 2024px) and (max-width: 2169.98px) {
  body {
    font-size: 24px;
  }
}
@media (min-width: 2170px) and (max-width: 2365.98px) {
  body {
    font-size: 26.5px;
  }
}
@media (min-width: 2366px) and (max-width: 2559.98px) {
  body {
    font-size: 28.5px;
  }
}
@media (min-width: 2560px) and (max-width: 2759.98px) {
  body {
    font-size: 31px;
  }
}
@media (min-width: 2760px) and (max-width: 2939.98px) {
  body {
    font-size: 33px;
  }
}
@media (min-width: 2940px) and (max-width: 3123.98px) {
  body {
    font-size: 35px;
  }
}
@media (min-width: 3124px) {
  body {
    font-size: 37px;
  }
}/*# sourceMappingURL=media-query.css.map */